<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="substitute" id="substitute">
            <module name="Dealer4Dealer_SubstituteOrders" />
        </route>
    </router>
</config>
