<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dealer4dealer" sortOrder="999" translate="label">
            <label>Dealer4Dealer</label>
        </tab>
        <section id="substitute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <tab>dealer4dealer</tab>
            <label>Substitute Orders</label>
            <resource>Dealer4Dealer_SubstituteOrders::config_dealer4dealer_substituteorders</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="real_order_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Real order ID</label>
                    <source_model>Dealer4Dealer\SubstituteOrders\Model\Config\Source\RealOrderId</source_model>
                </field>
                <field id="show_both_ids" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Show both IDs</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="select_orders_by" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Show orders by</label>
                    <comment/>
                    <source_model>Dealer4Dealer\SubstituteOrders\Model\Config\Source\SelectOrdersBy</source_model>
                </field>
            </group>
        </section>
    </system>
</config>